[Unit]
Description=Kentik Synthetic Agent
After=network.target

[Service]
EnvironmentFile=-/etc/default/ksynth
Type=simple
User=ksynth
WorkingDirectory=/var/lib/ksynth
AmbientCapabilities=CAP_NET_RAW
ExecStart=/opt/kentik/ksynth/ksynth agent -v
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
