[Unit]
Description=Update Kentik Synthetic Agent daily

[Timer]
OnCalendar=daily
RandomizedDelaySec=12h
Persistent=true

[Install]
WantedBy=timers.target
