[Unit]
Description=Kentik Synthetic Agent updater
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/yum install synag
ExecStartPost=/bin/systemctl restart synag.service

[Install]
WantedBy=multi-user.target
